@mixin h2 {
  font-family: 'SCHABO', sans-serif;
  font-size: 180px;
  font-weight: 400;
  line-height: 120%;
}

@mixin h3 {
  font-family: 'SCHABO', sans-serif;
  font-size: 170px;
  font-weight: 400;
  line-height: 100%;
}

@mixin h4 {
  font-family: 'SCHABO', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
}

@mixin h5 {
  font-family: 'SCHABO', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

@mixin redColor {
  color: #D20A0A;
}

@mixin h2-ru {
  font-family: 'SofiaSansCondensed', sans-serif;
  font-weight: 800;
  font-size: 140px;
  line-height: 168px;
  letter-spacing: -0.03em;

  @media screen and (max-width: 768px) {
    font-family: 'SofiaSans', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.04em;
  }
}

@mixin h3-ru {
  font-family: 'SofiaSansCondensed', sans-serif;
  font-size: 110px;
  font-weight: 800;
  line-height: 110px;
  letter-spacing: -0.03em;

  @media screen and (max-width: 768px) {
    font-family: 'SofiaSans', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.04em;
  }
}

@mixin h5-ru {
  font-family: 'SofiaSansCondensed', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 29px;
  }
}